<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<script>
$(document).ready(function () {
            $(".main").show();

            $(".submit").click(function () {
                $.ajax({
                    url: "/",
                    method: "GET"
                }).then(function () {
                    location.href="/"
                })
            })

            $(".closeSurvey").click(function () {
                $.ajax({
                    url: "/closeForm",
                    method: "GET"
                }).then(function () {
                    alert("Closed Survey");
                    location.href="/closeForm"
                })
            })
        }
    )

</script>

<div class="main" style="display: none">
    <button class="submit">Enter survey</button>
    <input type="button" onclick="location.href='/login';" value="Login" />
</div>

</body>
</html>